.Header {
  padding: 25px 0;
  position: fixed;
  z-index: 999999;
  background-color: transparent;
  width: 100%;
}
.Header .rowAll {
  align-items: baseline;
}

.Header ul {
  display: flex;
  align-items: center;
}
.Header li {
  list-style: none;
  margin-left: 45px;

}

.Header .right span {
  position: relative;
  color: #fff;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.Header .number {
  display: inline-block;
  margin-left: 10px !important;
}
.numberLi{
  margin-left: 0px !important;
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .Header .right{
    margin-left: -20px !important;
  }
  .Header li{
    margin-left: 40px !important;
  }
  .Header .number{
    margin-left: -30px !important;
  }
}
/* @media screen and (min-width: 800px) and (max-width: 1400px) {
  .Header {
    padding: 20px 0px 10px 0px;
  }

  .Header .left a span {
    font-size: 24px;
  }

  .Header .right span {
    margin-left: 25px;
    font-size: 16px;
  }
} */
.nav{
  display: flex;
}
 
@media screen and (max-width: 1024px) {
  .left img{
    width: 100px !important;
    height: 100px !important;
  }
  .rowAll{
    align-items: center !important;
  }
  .right{
    display: flex;
    justify-content: flex-end;
  }
  .nav li img{
    display: block;
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }
  .number{
    position: relative !important;
    right: 60% !important;
    top: 0;
  }
  .wishlist{
    display: none;
  }
}













