.Header {
  padding: 25px 0;
  position: fixed;
  z-index: 999999;
  background-color: transparent;
  width: 100%;
}
.Header .rowAll {
  align-items: baseline;
}

.Header ul {
  display: flex;
  align-items: center;
}
.Header li {
  list-style: none;
  margin-left: 45px;
}

.Header .right span {
  position: relative;
  color: #fff;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.Header .number {
  display: inline-block;
  margin-left: 10px !important;
}
.numberLi {
  margin-left: 0px !important;
}
.nav {
  display: flex;
}
@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .Header .right {
    margin-left: -20px !important;
  }
  .Header li {
    margin-left: 40px !important;
  }
  .Header .number {
    margin-left: -30px !important;
  }
}

@media screen and (max-width: 1024px) {
  .left img {
    width: 100px !important;
    height: 100px !important;
  }
  .rowAll {
    align-items: center !important;
  }
  .right {
    display: flex;
    justify-content: flex-end;
  }
  .nav li img {
    display: block;
    margin-right: 10px;
    width: 45px;
    height: 45px;
  }
  .number {
    position: relative !important;
    right: 60% !important;
    top: 0;
  }
  .wishlist {
    display: none;
  }
}

.Header ul {
  transition: all 0.35s ease;
}

.Header li {
  display: inline-block;
}

.Header .nav span::before,
.Header .nav span::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

.nav span::before {
  content: "";
  right: 0;
  top: -15px;
  border-top: 3px solid gold;
  border-right: 3px solid gold;
  transform: translate(-100%, 50%);
}

.nav span:after {
  content: "";
  left: 0;
  bottom: -15px;
  border-bottom: 3px solid gold;
  border-left: 3px solid gold;
  transform: translate(100%, -50%);
}

.nav span:hover:before,
.nav span:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

.nav span:hover {
  color: gold;
}

.nav .numberLi span:hover {
  color: #fff !important;
}
.nav .number::before {
  border: none !important;
}

.nav .number:after {
  border: none !important;
}
