.About h2 {
  color: #c9beb1;
  text-align: center;
  font-family: "Montaga", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.About {
  padding: 150px 0 0px 0;
  background: #181818;
}
.About .img {
  margin-top: 30px;
  background-image: url("../../../public/assets/image/contactphoto.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 11111;
}
.overlay {
  position: absolute;
  top: 214.5px;
  left: 0;
  width: 100%;
  height: 40vh;
  background: rgba(0, 0, 0, 0.58);
  z-index: 1111;
}
.aboutContent {
  padding: 50px 20px 70px 110px;
  background: #2b2b2b;
}
.aboutContent h4 {
  color: #c3924e;
  width: 100%;
  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

.aboutContent p {
  color: #fff;
  width: 85%;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
}

.About .aboutContent{
  padding-left: 110px !important;
}
