.PrInfo {
  background: #181818;
  padding: 50px 0 100px 0;
  position: relative;
}
.PrInfo img {
  width: 95%;
  max-width: 100%;
  border-radius: 10px;
}
.PrInfo .pEdit {
  display: flex;
  justify-content: left;
}
.PrInfo h2 {
  color: #c9beb1;
  font-family: "Montaga", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.PrInfo p {
  color: #fff;
  margin-top: 10px;
  width: 95%;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.PrInfo button {
  color: #c3924e;
  text-align: center;
  border-radius: 6px;
  border: 2px solid #c3924e;
  background-color: transparent;
  padding: 10px 10px;
  width: 40%;
  height: 3.6rem;
  font-family: var(--montserrat);

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 20px;
}

.buttonHover {
  cursor: pointer;
  position: relative;
  z-index: 222;
}

.buttonHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffd700,
    #8b4513,
    #daa520,
    #d2691e,
    #eac625,
    #ff4500,
    #ff9100,
    rgb(250, 172, 4),
    #ffd700
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonHover:active:after {
  background: transparent;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.PrInfo .backGrCircle {
  position: absolute;
  top: -2%;
  left: 0%;
  z-index: 0;
  width: 47%;
}

.hoverEdit {
  position: relative;
  border-radius: 10px !important;
}
/* .hoverEdit::before {
  right: 0;
  opacity: 0.7;
  top: 0;
}
.hoverEdit::after {
  bottom: 0;
  opacity: 0.7;
  left: 0;
}
.hoverEdit::before,
.hoverEdit::after {
  content: "";
  background: #c3924e;
  height: 0;
  width: 0;
  z-index: 1;
  position: absolute;
  -webkit-transition-duration: 1s !important;
  -o-transition-duration: 1s;
  transition-duration: 1s !important;
}
.hoverEdit:hover::after,
.hoverEdit:hover::before {
  height: 100%;
  opacity: 0;
  width: 100%;
} */

.hoverEdit {
  position: relative;
  width: 100%;
  overflow: hidden;
  color: #ffffff;
  background-color: #b06f09;
  transform: translateZ(0);
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5) 0%,
    transparent 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    transparent 100%
  );
}
.hoverEdit * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  width: 100% !important;
}
.hoverEdit img {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hoverEdit figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.hoverEdit h3 {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  font-size: 1.8em;
  padding: 0 0 100px 0;
  margin: 0 100px 0 0;
  font-weight: 900;
  text-align: right;
  -webkit-transform: rotate(-57deg);
  transform: rotate(-57deg);
}
.hoverEdit .a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.hoverEdit:hover img,
.hoverEdit.hover img {
  -webkit-animation: snip1367 1s linear forwards;
  animation: snip1367 1s linear forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes snip1367 {
  32% {
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  50% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  70% {
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
  }
  85% {
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
  }
  100% {
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
  }
}
@keyframes snip1367 {
  32% {
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  50% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  70% {
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
  }
  85% {
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
  }
  100% {
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
  }
}
