.Products {
  padding: 150px 0 0px 0px;
  background: #181818;
}
.Products h2 {
  color: #c9beb1;
  text-align: center;
  font-family: "Montaga", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.Products .tableBorder {
  /* height: 200px; */
  height: 100%;
  padding: 100px 0px 100px 60px;
  width: 100%;
  background: #2b2b2b;
}

.Products .getInTouch {
  margin-top: 100px;
  background: #2b2b2b;
  padding: 50px 0 50px 0;
  text-align: center;
}
.Products .getInTouch h2 {
  color: #c9beb1;

  text-align: center;
  font-family: "Montaga", serif;

  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.Products .getInTouch p {
  color: #fff;
  width: 68%;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.Products .getInTouch .pEdit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Products .getInTouch button {
  color: #c3924e;
  font-family: var(--montserrat);
  width: 15% !important;
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  background-color: transparent;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  border: 2px solid #c3924e;
  margin-top: 15px;
}

.Products .inputLabel {
  color: #c9beb1;
  font-family: "Montaga", serif;
  margin-top: -10px;
  font-size: 22px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.buttonHover {
  /* width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111; */
  cursor: pointer;
  position: relative;
  z-index: 0;
  /* border-radius: 10px; */
}

.buttonHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffd700,
    #8b4513,
    #daa520,
    #d2691e,
    #eac625,
    #ff4500,
    #ff9100,
    rgb(250, 172, 4),
    #ffd700
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonHover:active:after {
  background: transparent;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.priceLabel {
  color: #c9beb1;
  margin-top: 0px;
  font-family: "Montaga", serif;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.priceBox{
  margin-top: -27px;
}



.rangeBox {
  position: relative;
  width: 100%;
  height: 0;
}

.rangeInput {
  width: 100%;
}


.rangeBox label {
  display: block;
  text-align: left;
  font-size: 16px;
  margin-top: 10px;
  color: #c3924e !important;
}


.rangeInput {
  appearance: none;
  height: 2px; 
  background: #C9BEB1; 
  outline: none;
  opacity: 0.7;
  transition: opacity 0.2s;
  border-radius: 5px; 
}

.rangeInput:hover {
  opacity: 1;
}

.rangeInput::-webkit-slider-thumb {
  appearance: none;
  width: 10px; 
  height: 10px; 
  background: #fff; 
  border-radius: 50%; 
  cursor: pointer;
  transition: background 0.3s;
}

.rangeInput::-webkit-slider-thumb:hover {
  background: #c3924e;
}



