* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Montaga&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Montaga', serif;
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  background: #181818 !important;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

}
a {
  text-decoration: none !important;
}
