.AboutRm {
  background: #181818;
  padding: 150px 0 0 0;
  position: relative;
}
  


.AboutRm h2 {
  color: #c9beb1;
  font-family: 'Montaga', serif;
  width: 90%;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.AboutRm .imgEdit {
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}
 
.AboutRm h3 {
  color: #c9beb1;

  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.AboutRm h4 {
  color: #c3924e;
  margin-top: 10px;
  width: 55%;
  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

.AboutRm p {
  color: #fff;
  margin-bottom: 70px;
  width: 90%;
  font-family: var(--montserrat);
  margin-top: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}

.AboutRm .right {
  margin-top: 125px;
  margin-left: 20px;
}
.AboutRm span {
  color: #fff;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px; /* 133.333% */
}


 .AboutRm .backGrCircle{
  position: absolute;
  top: -5%;
  right: 3%;
  z-index: 222222;
  width: 40%;
 }  
 .hoverEdit{
  position: relative;
 }
 .hoverEdit::before {
  right: 0;
  opacity:0.7;
  top: 0;
}
.hoverEdit::after {
  bottom: 0;
  opacity: 0.7;
  left: 0;
}
.hoverEdit::before, .hoverEdit::after {
  content: "";
  background: #c3924e;
  height: 0;
  width: 0;
  z-index: 1;
  position: absolute;
  -webkit-transition-duration: 1s !important;
  -o-transition-duration: 1s;
transition-duration: 1s !important;
}
.hoverEdit:hover::after, .hoverEdit:hover::before {
  height: 100%;
  opacity: 0;
  width: 100%;
}
