.AboutRm {
  background: #181818;
  padding: 150px 0 0 0;
  position: relative;
}
.AboutRm h2 {
  color: #c9beb1;
  font-family: "Montaga", serif;
  width: 90%;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.AboutRm .imgEdit {
  object-fit: fill;
  width: 100%;
  border-radius: 10px;
  margin-top: -40px !important;
}

.AboutRm .right h3 {
  color: #c9beb1;
  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

.AboutRm h4 {
  color: #c3924e;
  margin-top: 10px;
  width: 55%;
  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

.AboutRm p {
  color: #fff;
  margin-bottom: 70px;
  width: 90%;
  font-family: var(--montserrat);
  margin-top: 30px;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}

.AboutRm .right {
  margin-top: 125px;
  margin-left: 20px;
}
.AboutRm span {
  color: #fff;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 24px; /* 133.333% */
}

.AboutRm .backGrCircle {
  position: absolute;
  top: -5%;
  right: 3%;
  z-index: 222222;
  width: 40%;
}

@media screen and (max-width: 768px) {
  .AboutRm {
    padding: 80px 0 0 0 !important;
  }
  .AboutRm h2 {
    font-size: 22px !important;
  }
  .AboutRm .backGrCircle {
    display: none;
  }
  .AboutRm .right {
    margin-top: 40px;
  }
  .AboutRm h4 {
    font-size: 20px;
    width: 100%;
  }
  .AboutRm p {
    font-size: 16px;
    width: 100%;
    margin-bottom: 30px;
  }
}
.hoverEdit {
  position: relative;
  overflow: hidden;
  color: #ffffff;
  background-color: #b06f09;
  margin-top: 20px;
  border-radius: 10px;
  transform: translateZ(0);
  background-image: -webkit-linear-gradient(
    bottom,
    rgba(0, 0, 0, 0.5) 0%,
    transparent 100%
  );
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 0%,
    transparent 100%
  );
}
.hoverEdit * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
  width: 100% !important;
}
.hoverEdit img {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.hoverEdit figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
.hoverEdit h3 {
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
  font-size: 1.8em;
  padding: 0 0 100px 0;
  margin: 0 100px 0 0;
  color: #fff !important;
  font-weight: 900 !important;
  text-align: right;
  -webkit-transform: rotate(-57deg);
  transform: rotate(-57deg);
}
.hoverEdit .a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.hoverEdit:hover img,
.hoverEdit.hover img {
  -webkit-animation: snip1367 1s linear forwards;
  animation: snip1367 1s linear forwards;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
@-webkit-keyframes snip1367 {
  32% {
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  50% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  70% {
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
  }
  85% {
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
  }
  100% {
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
  }
}
@keyframes snip1367 {
  32% {
    -webkit-transform: rotate(-72deg);
    transform: rotate(-72deg);
  }
  50% {
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
  }
  70% {
    -webkit-transform: rotate(-58deg);
    transform: rotate(-58deg);
  }
  85% {
    -webkit-transform: rotate(-56deg);
    transform: rotate(-56deg);
  }
  100% {
    -webkit-transform: rotate(-57deg);
    transform: rotate(-57deg);
  }
}
