.BlDetail {
  padding: 150px 0 0px 0;
  background: #181818;
}
.BlDetail .caviarPhoto {
  background-image: url("../../../../public/assets/image/redblackcaviar.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 100vh;
}
.BlDetail h2 {
  color: #c9beb1;

  text-align: center;
  font-family: "Montaga", serif;
  width: 55%;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.BlDetail .h2Edit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.BlDetail h4 {
  color: #fff;

  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 127.273% */
}
.BlDetail p {
  color: #fff;
  width: 89%;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.BlDetail .pEdit {
  padding-left: 110px;
  margin-top: 40px;
  width: 100%;
}

.BlDetail .boxContent img {
  width: 100%;
}
.BlDetail .box {
  margin-top: 20px;
}

.BlDetail .boxContent h2 {
  color: #fff;
  width: 100%;
  margin-top: 15px;
  font-family: var(--montserrat);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: left;
}
.BlDetail h1 {
  color: #c9beb1;
  text-align: center;
  width: 32%;
  font-family: "Montaga", serif;

  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.BlDetail .boxContent p {
  color: #fff;
  width: 55%;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.BlDetail .pEditDown {
  display: flex;
  justify-content: left;
}
.BlDetail .contentDown {
  padding: 50px 0 50px 0;
  margin-top: 50px;
  background: #2b2b2b;
}
