.BlDetail {
  padding: 150px 0 0px 0;
  background: #181818;
}
.BlDetail .caviarPhoto {
  background-image: url("../../../../public/assets/image/redblackcaviar.png");
  background-position: center;
  background-repeat: no-repeat;
  width: 90%;
  height: 100vh;
  
}
.BlDetail h2 {
  color: #c9beb1;

  text-align: center;
  font-family: "Montaga", serif;
  width: 55%;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.BlDetail .h2Edit {
  width: 100%;
  display: flex;
  justify-content: center;
}
.BlDetail h4 {
  color: #fff;

  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 127.273% */
}
.BlDetail p {
  color: #fff;
  width: 89%;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.BlDetail .pEdit {
  padding-left: 110px;
  margin-top: 40px;
  width: 100%;
}

.BlDetail .boxContent img {
  width: 100%;
}
.BlDetail .box {
  margin-top: 20px;
}


.BlDetail h1 {
  color: #c9beb1;
  text-align: center;
  width: 32%;
  font-family: "Montaga", serif;

  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}


.BlDetail .pEditDown {
  display: flex;
  justify-content: left;
}
.BlDetail .contentDown {
  padding: 50px 0 50px 0;
  margin-top: 50px;
  background: #2b2b2b;
}







.boxContent{
  position:relative;
  background:#000;
  /* float:left; */
  width: 100%;
  height: 450px;
  margin:15px;
  box-sizing:border-box;
  overflow:hidden;
  box-shadow:0 5px 10px rgba(0,0,0,.8);
}
.BlDetail .boxContent:before {
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  border-top:1px solid #fff;
  border-bottom:1px solid #fff;
  box-sizing:border-box;
  transition:0.5s;
  transform: scaleX(0);
  opacity:0;
}
.BlDetail .boxContent:hover:before {
  transform:scaleX(1);
  opacity:1;
}
.BlDetail .boxContent:after {
  content:'';
  position:absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  border-left:1px solid #fff;
  border-right:1px solid #fff;
  box-sizing:border-box;
  transition:0.5s;
  transform: scaleY(0);
  opacity:0;
}
.BlDetail .boxContent:hover:after {
  transform:scaleY(1);
  opacity:1;
}
.BlDetail .boxContent .imgBox {
  position:relative;
}
.BlDetail .boxContent .imgBox img {
  width:100%;
  transition:0.5s;
}
.BlDetail .boxContent:hover .imgBox img {
  opacity:.2;
  transform:scale(1.2);
}
.BlDetail .boxContent .Content {
  position:absolute;
  width:100%;
  top:50%;
  transform:translateY(-50%);
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  text-align:center;
}
.BlDetail .boxContent .Content h2 {
  color: #fff;
  margin-top: 15px;
  font-family: var(--montserrat);
  width: 100%;

  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0 0 10px;
  padding:0;
  transition:0.5s;
  text-align: center;
  transform:translateY(-50px);
  opacity:0;
  visibility:hidden;
  
}
.BlDetail .boxContent .Content p {
  color: #fff;
  margin-top: 15px;
  font-family: var(--montserrat);
  width: 100%;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin:0;
  padding:0;
  transform:translateY(50px);
  opacity:0;
  visibility:hidden;
}
.BlDetail .boxContent:hover .Content h2,
.BlDetail .boxContent:hover .Content p {
  opacity:1;
  visibility:visible;
  transform:translateY(0px);
}