.Privacy {
  padding: 150px 0 0px 0;
  background: #181818;
}
.Privacy h2 {
  color: #c9beb1;
  font-family: "Montaga", serif;

  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.privacyContent p {
  color: #fff;
  width: 84%;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.privacyContent .pEdit {
  margin-top: 40px;
  width: 100%;
}
.privacyContent {
    padding-left: 110px;
}
.privacyContent h4 {
  color: #fff;

  font-family: var(--montserrat);

  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 140% */
}

