.ProductDetail .backFone {
  margin-top: 20px;
  width: 100%;
  height: 400px;
  background: #2b2b2b;
  z-index: 0;
}
.ProductDetail h2 {
  color: #c9beb1;
  text-align: center;
  font-family: "Montaga", serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.ProductDetail .detailImg {
  object-fit: cover !important;
  border-radius: 12px;
  width: 386px !important;
}

.contentImg {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.boxDiv {
  border-radius: 10px;

  background-color: rgba(55, 55, 55, 1);
  margin-top: -15px;
  width: 386px;
  height: 455px;
  object-fit: cover;
}

.ProductDetail {
  padding: 150px 0 0px 0;
  background: #181818;
  position: relative;
}
.ProductDetail .h5CheckOut {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ProductDetail .h5CheckOut:nth-child(4) {
  margin-left: 5px;
  cursor: auto;
  text-decoration: none;
}
.qty span {
  color: #fff;
  margin-left: 5px;
  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  cursor: pointer;
}
.qty {
  border: 1px solid red;
  padding: 0px 15px;
  border-radius: 3px;
  border: 1px solid #c3924e;
  height: 30px;
  width: 30%;
  margin-top: 30px;
}
.h3Edit h3 {
  color: #fff;
  font-family: var(--montserrat);
  font-size: 30px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.ProductDetail h4 {
  margin-top: 20px;
  color: #fff;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.ProductDetail h6 {
  color: #fff;

  font-family: var(--montserrat);
  font-size: 26px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.ProductDetail .line {
  width: 583px;
  height: 0.5px;
  margin-top: 20px;
  background: #848484;
}
.ProductDetail .pStock {
  color: #fff;
  margin-top: 20px;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ProductDetail h5 {
  color: #c3924e;
  font-family: var(--montserrat);
  cursor: pointer;
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.ProductDetail .spanEdit img {
  margin-left: 5px;
}
.ProductDetail .rowAll {
  margin-top: -340px;
}

/* //section 2 */

.Content {
  padding: 100px 0 100px 0;
  width: 88%;
}
.contentBox {
  padding-left: 110px;
}
.Content p {
  color: #fff;
  margin-top: 40px;
  margin-bottom: 30px;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.Content h4 {
  color: #fff;

  font-family: var(--montserrat);

  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
}

/* //SECTION 3 */

.TopProducts .rowAll {
  flex-flow: wrap;
  flex-direction: row;
  align-items: center;
}
.TopProducts .line {
  position: absolute;
  z-index: 222;
  width: 1px;
  height: 140px;
  margin-left: 20px;
  margin-top: -40px;
  background: #c3924e;
  color: #c3924e;
}
.TopProducts .boxUp {
  position: relative;
  height: 408px;
  background-color: rgba(255, 255, 255, 0.06) !important;
  border-radius: 10px;
  margin-top: 20px;
}
.TopProducts img {
  width: 298px;
  max-width: 100%;
  height: 100% !important;
  transition: transform 0.3s ease;
  border-radius: 10px;
  cursor: pointer;
}

.TopProducts h3 {
  color: #fff;
  margin-left: 25px;
  font-family: var(--montserrat);
  font-size: 16px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}
.TopProducts .h3Edit {
  width: 90px;
  margin-left: 0px !important;
}

.TopProducts .boxDowncontent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.TopProducts .boxDown {
  margin-top: 20px;
  height: 100px;
}
.TopProducts .prNameEdit {
  width: 100%;
  height: 40px;
}
.TopProducts .priceEdit {
  width: 35%;
  height: 40px;
}

.TopProducts .box {
  position: relative;
}
.TopProducts .pEdit {
  color: #c3924e;
  text-transform: uppercase;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  margin-left: 25px;
  margin-top: 10px;
  cursor: pointer;
}
.TopProducts .forButton {
  text-align: center;
  margin-top: 50px;
}
.TopProducts .forButton button {
  border-radius: 6px;
  border: 2px solid #c3924e;
  color: #c3924e;
  padding: 10px 10px;
  width: 15%;
  height: 3.6rem;
  background-color: transparent;
  text-align: center;
  font-family: var(--montserrat);
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.TopProducts {
  background: #2b2b2b;
  height: 100%;
  padding: 50px 0 50px 0;
}

.TopProducts h2 {
  color: #c9beb1;

  font-family: "Montaga", serif;

  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.radioContainer {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
}

.radioContainer input[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 50px;
  cursor: pointer;
}

.radioContainer label {
  display: inline-block;
  padding: 10px 20px 10px 20px;
  color: #fff;
  cursor: pointer;

  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

.radioContainer input[type="radio"]:checked + label {
  background-color: #c3924e;
  color: #fff;
  border-color: #c3924e;
  border-radius: 5px;
}
.radioGroup {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Set the number of columns */
  gap: 5px; /* Set the gap between items */
  max-width: 600px; /* Set a maximum width for the grid if needed */
}
.TopProducts .buttonHover {
  color: #c3924e;
  font-family: var(--montserrat);
  width: 15% !important;
  padding: 15px 10px;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  background-color: transparent;
  line-height: normal;
  text-transform: uppercase;
  border-radius: 6px;
  border: 2px solid #c3924e;
  cursor: pointer;
  position: relative;
  z-index: 0;
}
.TopProducts .buttonEdit {
  text-align: center;
  margin-top: 30px;
}
.buttonHover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ffd700,
    #8b4513,
    #daa520,
    #d2691e,
    #eac625,
    #ff4500,
    #ff9100,
    rgb(250, 172, 4),
    #ffd700
  );

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* // Delivery */
.infoLine {
  width: 100%;
  height: 0.5px;
  background: #c9beb1;
}
.Delivery h2 {
  color: #c9beb1;

  text-align: center;
  font-family: "Montaga", serif;

  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.Delivery {
  padding: 50px 0 0px 0;
}
.Delivery .rowAll {
  margin-top: 50px;
  align-items: center;
  justify-content: center !important;
}
.Delivery h4 {
  color: #fff;
  font-family: var(--montserrat);
  text-align: center;
  margin-top: 3px;
  font-size: 18px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: 28px; /* 155.556% */
}
.Delivery .pEdit {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 110px;
}
.Delivery p {
  color: #fff;
  font-family: var(--montserrat);
  text-align: center;
  font-size: 18px;
  width: 54%;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 155.556% */
}
.Delivery .imgEdit {
  text-align: center !important;
}

@media screen and (min-width: 1200px) and (max-width: 1350px) {
  .ProductDetail .box {
    margin-left: 40px;
  }
  .qty {
    padding: 0px 8px !important;
  }
}

.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  grid-auto-rows: 320px;
  gap: 24px;
}
