.Shopping {
  padding-top: 150px;
  background: #181818;
}
.Shopping h2 {
  color: #c9beb1;
  text-align: center;
  font-family: "Montaga", serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.Shopping .tableBorder {
  height: 100%;
  padding-bottom: 10px;
  width: 100%;
  background: #2b2b2b;
}
.imgBox{
  width: 330px;
}

.border {
  border: 2px solid #333;
  outline: none;
  border-radius: 4px;
  padding: 15px !important;
  background: #333;
  width: 100%;
}
.Shopping .box {
  width: 100%;
}
.Shopping img{
  width: 100px;
  height: 100%;
  object-fit: fill;
  height: 60px;
}
.Shopping .spanEdit {
  color: #fff !important;
  font-family: var(--montserrat);
  font-size: 20px !important;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  display: block;
  padding: 0px 20px 0px 0px;
  width: 250px; 
  margin-top: -5px;
  white-space: nowrap;
}

.Shopping .priceDiv {
  margin-left: 10px;
}
  
.Shopping .priceEdit {
  color: #c3924e;
  font-family: var(--montserrat);
  font-size: 20px;
  margin-top: 3px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
}

  
.qty span {
  color: #fff;
  margin-left: 5px;
  font-family: var(--montserrat);
  font-size: 22px;
  font-style: normal;
  font-weight: 700 !important;
  line-height: normal;
  cursor: pointer;
}
.qty {
  border: 1px solid #c3924e;
  padding: 0px 15px;
  border-radius: 3px;
  width: 80px;
  border: 1px solid #c3924e;
  height: 30px;
}
.qtyBox{
  background-color: transparent;
}
.h5Edit {
  display: flex !important;
  justify-content: center !important;
  align-items: center;
  width: 120px;
}
.h5Edit h5 {
  margin-top: 5px;
  width: 100px;
}
.remove button{
  font-size: 16px;
  color: white;
  font-family: var(--montserrat);
  width: 100% !important;
  border-radius: 4px;
  padding: 5px 10px;
  border: 1px solid #c3924e;
  background-color: transparent;
}
.spanDiv{
  width: 100%;
}
.buttonHover {
  /* width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111; */
  /* border-radius: 10px; */
  cursor: pointer;
  position: relative;
  z-index: 0;
}

.buttonHover:before {
  content: '';
  background: linear-gradient(45deg, #FFD700, #8B4513, #DAA520, #D2691E, #eac625, #FF4500, #ff9100, rgb(250, 172, 4), #FFD700);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}



.buttonHover:active:after {
  background: transparent;
}

.buttonHover:hover:before {
  opacity: 1;
}

.buttonHover:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}
.Message{
  color: #fff;
  font-size: 30px;
  font-weight: 100 !important;
  font-family: var(--montserrat);
  padding: 180px 0 180px 0;
}
